*{
    padding: 0;
    margin: 0;

}

.container{
    width: 100vw;
}
body{
   font-family: "Raleway";
   overflow: scroll;
}

.head{
    height: 20vh;
    width: 100vw;
    display: flex;
}
.head img{
   width: fit-content;
   height: fit-content;
   padding: 50px;
   margin-left: 60px;
   display: flex;
   align-self: center;
}
.head ul{
    list-style-type: none;
   margin-left: auto;
   align-self: center;
   
}
.head li{
    margin: 50px;
    font-size: 20px;
    display: inline-block;
}

/*MAIN-1*/
.main1{
   display: flex;
   height:fit-content;
   margin-bottom: 300px;
}
.main1 .left{
    width: 50%;
    height: max-content;
    margin: auto 0;
    padding-left: 100px;
   text-align: left;
}
.main1 h1{
font-size: 50px;
margin-bottom: 25px;
}
.main1 p{
    font-size: 20px;
    margin-bottom: 25px;
}

.email {
    height: 50px;
    width: 60%;
    margin-right: 10px;
    font-size: 18px;
}
.email-btn{
    height: 55px;
    width: 35%;
    background-color:  hsl(224, 93%, 58%);
    color: white;
    border: none;
    font-size: 18px;
}
.email-btn:hover{
    background-color: hsl(224, 93%, 70%);
    cursor: pointer;
}
.main1 img{
    max-width: 70%;
    padding-left: 190px;
}


/*MAIN2*/
.main2{
    display: flex;
    height:fit-content;
    margin-bottom: 300px;
 }

.main2 .left{
    width: 50%;
    height: max-content;
    padding-left: 100px;
}
.main2 h1{
    font-size: 45px;
    margin-bottom: 25px;
    }
.main2 p{
        font-size: 19px;
        margin-bottom: 25px;
    }

.link{
    display: flex;
    margin-bottom: 80px;
}
.link p{
    font-size: 22px;
}
.link img{
    height: 30px;
    position: relative;
    left: 10px;
}


.box{
    height: 200px;
    width: 400px;
    box-shadow: 5px 2px 20px 1px #888888;
    padding: 20px;

}
.box img{
    width: 20px;
}
.person{
    position: relative;
}
.person img{
    border-radius: 50%;
    width: 40px;
    position: absolute;
}
.person h3{
 position: absolute;
 left: 50px;
}
.person p{
    position: absolute;
    left: 50px;
    top:20px
}


.main2 img{
    max-width: 90%;
}


/*Main3*/
.main3{
background-color: hsl(238, 22%, 44%);
height: 350px;
display: flex;
}
.main3 .left{
    width: 50%;
    height: max-content;
    margin: auto 0;
    padding-left: 100px;
    color: white;
}
.main3 h1{
    font-size: 50px;
    margin-bottom: 20px;
}
.main3 p{
    font-size: 20px;
}
.main3 .right{
    width: 50%;
    margin:auto 0;
   
}
.main3 .right>input{
    display: block;
}
.main3-email{
    width: 80%;
    height: 45px;
    margin-bottom: 20px;
    margin-right: 10px;
    font-size: 18px;
}
.main3-btn{
    width: 40%;
    height: 50px;
    background-color:  hsl(224, 93%, 58%);
    color: white;
    border: none;
    font-size: 18px;
}
.main3-btn:hover{
    background-color: hsl(224, 93%, 70%);
    cursor: pointer;
}
/*footer*/
.foot{
    height:450px;
    display: flex;
    background-color:hsl(243, 87%, 12%);
    width: 100%;
}
.one{
    display: inline-block;
    color: white;
    font-size: 20px;
    margin: auto 0;
    width: 30%;
    margin-left: 110px;
}

.one .logo img{
    width: 45%;
    margin-bottom: 20px;
}
.phone-icon{
    margin-bottom: 20px;
}
.two{
    width: 20%;
    font-size:20px;
    color: white;
}
.two ul{
    list-style-type: none;
    margin-top: 220px;
}
.two ul>li{
    padding: 10px;
}
.two ul>li:hover{
   cursor: pointer;
}
.three{
    width: 23.33%;
    font-size:20px;
    color: white;
}
.three ul{
    list-style-type: none;
    margin-top: 220px;
}
.three ul>li{
    padding: 10px;
}
.three ul>li:hover{
   cursor: pointer;
}
.four{
    width: fit-content ;
}
.four img{
    width: 30px;
    margin: 10px;
    border-radius: 50%;
    border: 1px solid white;
    padding: 5px;
    margin-top: 220px;
}

@media screen and (max-width:1000px) {
    .head img{
        margin-left: 0px;
    }
    .head li{
        font-size: 25px;
        margin: 15px;
    }
}
@media screen and (max-width:1400px) {

    .main1 .left{
        padding-left: 50px;
    }
    .main1 img{
        max-width: 80%;
        padding-left: 100px;
    }
    .main2 .left{
        padding-left: 50px;
    }
    .main3 .left{
        padding: 30px;
      }
      
} 
@media screen and (max-width:1300px) {
    .main1 .left{
        padding-left: 30px;
    }
    .main1 img{
        max-width: 70%;
        padding-left: 70px;
    }
    .main2 .left{
        padding-left: 30px;
    }
    .main2 .right>img{
        max-width: 70%;
        padding-left: 70px;
    }
  
}

@media screen and (max-width:1200px) {

    .main1 .left , .main2 .left{
        padding-left: 30px;
    }
    .main1 img,.main2 .right>img{
        max-width: 70%;
        padding-left: 70px;
    }
    .main1 h1,.main2 h1{
        font-size: 40px;
        margin-bottom: 25px;
     }
        .main1 p .main2 p{
            font-size: 15px;
            margin-bottom: 25px;
    }
    .email-btn{
       display: block;
       margin-top: 20px;
       height: 40px;
    }
    .foot{
        height: fit-content;
    }
    .foot .four{
        margin-left: -50px;
    }
        
}

@media screen and (max-width:1000px) {

    .container{
        width: 100vw;
    }
    .head ul{
        margin-right: 5px;
    }
    .main1 , .main2  {
        flex-direction: column-reverse;
        width: 100vw;
    }
    .main1 .right,.main2 .right{
        width:100%;
        display: flex;
        justify-content: center;
    }
    .main1 img{
        width: 70%;
    }
    .main1 img,.main2 .right>img{
        padding-left: 0px;
    }
    .main1 .left,.main2 .left{
        padding-left: 0px;
    }
   
    .main1 .left,.main2 .left{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .main1 .left h1,p{
        text-align: center;
        padding: 30px;
    }
    .main2 .left h1,p{
        text-align: center;
        padding: 10px;
    }
    .main1 p, .main2 .left>p{
        font-size: 25px;
    }

    .email,.email-btn{
        width: 80%;
        align-self: center;
    }
    .email-btn{
        height: 50px;
       
    }
    .main2 .link{
        display: flex;
      justify-content: center;
       }
       .link img{
           top: 10px;
           left: -4px;
       }
       .box{
        align-self: center;
       }
   

       .main3{
        height: fit-content;
        width:100%;
        flex-direction: column;
        padding-bottom: 20px;
       }
       .main3 .left{
        padding: 0px;
       }

       .main3 .left,.main3 .right{
        width: 100%;
       }

       .main3 .left>p , .left>h1{
        text-align: center;
       }
       .main3 .right{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
       }
       
       .main3-email,.main3-btn{
        width: 50%;
       }

       .foot{
        flex-direction: column;
        height: fit-content;
        align-items: center;
        font-size: 25px;
        text-align: center;
       }
       .one .logo img{
        width: 100%;
        margin-bottom: 20px;
    }
    .foot{
        padding-top: 30px;
    }
    .foot .one{
        margin-left: 0px;
        width: fit-content;
    }
    .foot .two ul,.three ul{
        margin-top: 20px;
        width: fit-content;
    }
    .foot .four>img{
        margin-top: 20px;
    }
    .foot .one{
        text-align: left;
    }


    .box{
        height: 200px;
        width: 300px;
        padding: 20px;
    
    }
    .box img{
        width: 15px;
    }
    .person{
        position: relative;
    }
    .person img{
        border-radius: 50%;
        width: 40px;
        position: absolute;
        top:-25px
    }
    .person h3{
     position: absolute;
     left: 50px;
     top:-25px;
    }
    .person p{
        position: absolute;
        left: 40px;
        top:-10px
    }
    
}

   @media screen and (max-width:800px) {
    .head img{
        margin-left: 10px;
        padding: 10px;
        width: 30%;
    }
    .head li{
        margin: 2px;
        font-size: 18px;
        padding: 5px;
    }
    .main3 h1{
        font-size: 40px;
    }
    .main3 p{
        font-size: 18px;
    }
    .foot .one,.two,.three{
        padding-left: 50px;
    }

    .foot{
        text-align: left;
    }
    .one,.two,.three{
        align-self: flex-start;
    }
    

}